body {
    margin: 0;
    font-family: Arial;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 10px 20px;
}

.logo {
    color: orange;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.menu a:hover {
    color: orange;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

.home {
    background: url('images/bg.jpg');
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}